body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.slideshow-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    max-width: 80%;
    max-height: 80%;
    overflow: hidden;
}

.slideshow-image {
    width: 100%;
    height: auto;
    display: none;
    transition: opacity 0.5s ease-in-out;
}

.slideshow-image.active {
    display: block;
    opacity: 1;
}

.nav-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    z-index: 10;
    transition: background-color 0.3s ease;
}

#prev {
    left: 10px;
}

#next {
    right: 10px;
}

.nav-button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
